{% extends "layout.html" %}
{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='calculator.css')}}">
	<script src="{{ url_for('static', filename='calculator.js')}}"></script>
	<link href='//fonts.googleapis.com/css?family=VT323' rel='stylesheet'>
{% endblock %}
{% block contentheader %}
	<p>Calc.js</p>
{% endblock %}
{% block content %}
	<div class="calc-body">
		<p>This calculator currently supports the four main operations and decimal numbers.</p>
		<p>You can also use the numbers and operations on your numpad.</p><br>
		<div class="calc-face">
			<input type="text" class="results" id="results" readonly>
			<table>
				<tbody>
				<tr>
					<td colspan="3"><button id="clear" onclick="calculator.wipe();"><div class="symbol">Clear</div></button></td>
					<td colspan="1"><button id="delete" onclick="calculator.backsp();"><div class="symbol">Del</div></button></td>
				</tr>
				<tr>
					<td><button value="7" onclick="calculator.display('7');" id="seven"><div class="symbol">7</div></button></td>
					<td><button value="8" onclick="calculator.display('8');" id="eight"><div class="symbol">8</div></button></td>
					<td><button value="9" onclick="calculator.display('9');" id="nine"><div class="symbol">9</div></button></td>
					<td><button id="divide" onclick="calculator.divide();"><div class="symbol">/</div></button></td>
				</tr>
				<tr>
					<td><button value="4" onclick="calculator.display('4');" id="four"><div class="symbol">4</div></button></td>
					<td><button value="5" onclick="calculator.display('5');" id="five"><div class="symbol">5</div></button></td>
					<td><button value="6" onclick="calculator.display('6');" id="six"><div class="symbol">6</div></button></td>
					<td><button id="multiply" onclick="calculator.multiply();"><div class="symbol">x</div></button></td>
				</tr>
				<tr>
					<td><button value="1" onclick="calculator.display('1');" id="one"><div class="symbol">1</div></button></td>
					<td><button value="2" onclick="calculator.display('2');" id="two"><div class="symbol">2</div></button></td>
					<td><button value="3" onclick="calculator.display('3');" id="three"><div class="symbol">3</div></button></td>
					<td><button id="subtract" onclick="calculator.subtract();"><div class="symbol">-</div></button></td>
				</tr>
				<tr>
					<td><button value="." onclick="calculator.display('.')" id="point"><div class="symbol">.</div></button></td>
					<td><button value="0" onclick="calculator.display('0');" id="zero"><div class="symbol">0</div></button></td>
					<td><button id="equal" onclick="calculator.solve();"><div class="symbol">=</div></button></td>
					<td><button id="add" onclick="calculator.add();"><div class="symbol">+</div></button></td>
				</tr>
				</tbody>
			</table>
		</div>

	</div>
{% endblock %}
